<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <style>

       body {
        margin: 0px;
        padding: 0px;
	    font-family: 'Roboto', sans-serif;
	    /* font-size: 24px; */
       }

        .img-escudo {
        height: 75px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;            
       }

       header {
        display: flex;     
        padding-bottom: 10px;   
       }

       .text-header {
        font-size: x-small;
        padding: 0;       
        margin-top: 0; 
        margin-bottom: 0;        
        text-align: center;
       }

       .border {
        border: 1px solid black;
       }

       .header-middle {
        width:550px;
       }

       .text-center {
        text-align: center;
       }

    </style>



</head>
<body>
    <div>
        <header>

        <table>
            <tr>
            <td>
                <img alt="Piura" class="img-escudo " src="http://tramitevirtual.munipiura.gob.pe/Content/img/logo02.png" />
                <p class="text-header">MUNICIPALIDAD PROVINCIAL DE PIURA</p>
                <p class="text-header">OFICINA DE ABASTECIMIENTO</p>

            </td>
            <td class="header-middle"><h4 class="text-center">EXPEDIENTE Nº {{ C_exp }}</h4></td>
            <td>
                <!-- <img alt="Piura" class="img-escudo" src="http://tramitevirtual.munipiura.gob.pe/Content/img/logo02.png" />
                <p class="text-header">MUNICIPALIDAD PROVINCIAL DE PIURA</p>
                <p class="text-header">OFICINA DE ABASTECIMIENTO</p> -->

            </td>
        </tr>
        </table>
    </header>
        <table>
            <tr>
                <td>
                    SOLICITUD DE {{ N_tipo }} 
                </td>
                <td>
                    {{ C_reque }}
                </td>
            </tr>
            <tr>
                <td>
                    FECHA DE SOLICITUD
                </td>
                <td>
                    {{ D_reque_fecha }}
                </td>
            </tr>
        </table>
        <!-- <table class="tableTitle">
            <tr>
                <td class="tdTitle">
                    <h2>AUTORIZACIÓN Nº {{ M_LicProv_NroTitle }}</h2>
                    <p class="exhibir">"Exhibir en un lugar visible"</p>
                </td>
                <td> 
                    <img  class="imgFoto" src="data:image/png;base64,{{ N_Imagen_Base64 }}" alt="Red dot" />
                </td>
            </tr>
        </table>

        <table>
            <tr class="tdMain">
                <td class="tdLabel tdMain">TITULAR</td>
                <td class="tdMain">: {{ N_Titular }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">{{ N_TipDoc}} Nº</td>
                <td class="tdMain">: {{ M_LicProv_TitNroDoc }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">GIRO AUTORIZADO</td>
                <td class="tdMain"> : {{ N_LicProv_Nombre|upper }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">CÓDIGO DE UBICACIÓN</td>
                <td class="tdMain"> : {{ C_Ubica_Codigo }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">RUBRO</td>
                <td class="tdMain"> : {{ N_Rubro_Descrip }} </td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">UBICACIÓN DETALLADA</td>
                <td class="tdMain"> : {{ N_Ubica_Descrip }}</td>                                
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">MEDIDAS DEL MÓDULO</td>
                <td class="tdMain"> : {{ N_Rubro_Dimension }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">HORARIO DE ATENCIÓN</td>
                <td class="tdMain"> : {{ N_LicProv_HorAte }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">FECHA DE EMISIÓN</td>
                <td class="tdMain"> : Piura, {{ D_LicProv_FecEmi }}</td>
            </tr>
            <tr class="tdMain" >
                <td class="tdLabel tdMain">FECHA DE VENCIMIENTO</td>
                <td class="tdMain"> : Piura, {{ D_LicProv_FinVig }}</td>
            </tr>
        </table>

        <table class="table_QR">
            <tr>
                <td class="textTop">
                    <p ><strong>Nota:</strong> La autorización municipal tiene carácter de provisional, personal e intransferible por lo que el titular de la misma deberá desempeñar la actividad no estando facultado a cederlo, traspasarlo o subarrendarlo.De no cumplir con las consideraciones establecidas, la autorización provisional se revocará.</p>
                </td>
                <td>
                    <img class="imgQR showBorder" src="{{ url_QR }}">
                </td>
            </tr>
        </table>

        <div class="footer">
            <small>FORMATO Nº {{ N_LicProv_Formato }}</small>
            <p>La presente autorización provisional se ha emitido al titular de la misma al haber cumplido con los requisitos según ordenanzas: EMPRENDEDORES URBANOS O.M 367-00-CMPP del 16 de diciembre del 2022 y  D.A. 001-2023-A/MPP; EMOLIENTEROS Y MAQUEROS O.M. 370-00-CMPP del 23 de Diciembre del 2022  y D.A. 005-2023-A/MPP  y LUSTRADORES DE CALZADOS O.M. 371-00-CMPP del 28 de Diciembre del 2022 y D.A. 004-2023-A/MPP;  así mismo esta autorización será vigente desde la fecha de emisión, teniendo vigencia de un año, siempre que se respeten las condiciones por las que fue emitida, así como las disposiciones contenidas en las menciones normas.</p>
        </div> -->
        
        
    </div>
    
<body>
</html>
