<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <style>

       body {
        margin: 0px;
        padding: 0px;
	    font-family: 'Roboto', sans-serif;
	    /* font-size: 24px; */
       }

        .img-escudo {
        height: 75px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;            
       }

       header {
        display: flex;     
        padding-bottom: 10px;   
       }

       .text-header {
        font-size: x-small;
        padding: 0;       
        margin-top: 0; 
        margin-bottom: 0;        
        text-align: center;
       }

       .border {
        border: 1px solid black;
       }

       .header-middle {
        width:550px;
       }

       .text-center {
        text-align: center;
       }

        .align-right {
        text-align: right;
        }

        .vertical-align-top {
           vertical-align: top;
        }

        .align-left {
            text-align: left;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: right;
            padding-right: 10px;
        }

        
    </style>



</head>
<body>
    <div>
        <header>

        <table>
            <tr>
            <td>
                <img alt="Piura" class="img-escudo " src="http://tramitevirtual.munipiura.gob.pe/Content/img/logo02.png" />
                <p class="text-header">MUNICIPALIDAD PROVINCIAL DE PIURA</p>
                <p class="text-header">OFICINA DE ABASTECIMIENTO</p>

            </td>
            <td class="header-middle"><h4 class="text-center">EXPEDIENTE Nº {{ C_exp }}</h4></td>
            <td>
                Página [page] de [topage]

            </td>
        </tr>
        </table>
    </header>
        <table>
            <tr>
                <td style="width: 200px;">
                    SOLICITUD DE {{ N_tipo }} 
                </td>
                <td>
                    {{ C_reque }}
                </td>
            </tr>
            <tr>
                <td>
                    FECHA DE SOLICITUD
                </td>
                <td>
                    {{ D_reque_fecha }}
                </td>
            </tr>
            <tr>
                <td>
                    TIPO DE GASTO
                </td>
                <td>
                    {{ N_tipogasto }}
                </td>
            </tr>
            <tr>
                <td>
                    PROCESO DE SELECCIÓN
                </td>
                <td>
                    {{ C_prosel }} {{ N_proceso }}
                </td>
            </tr>
        </table>

        <!-- {{gasto.C_depen}} -->

        <table style="width: 100%;">
            <tr >
                <td colspan="7" class="align-right">
                    <hr>                 
                </td>  
                

            </tr>
            <tr>
                <td>CODIGO</td>
                <td>DESCRIPCION</td>
                <td>ESPECIF. TEC.</td>
                <td>UNIDAD</td>
                <td>CANTIDAD</td>
                <td>PRECIO</td>
                <td>TOTAL</td>
            </tr>
            <tr >
                <td colspan="7" class="align-right">
                    <hr>                 
                </td>  
                

            </tr>
            {% for secfun_row in lista_reque_format %}
                <tr >
                    <td colspan="7">
                        <h4 style="padding: 0; margin: 0;">{{ secfun_row.C_secfun}} {{ secfun_row.N_secfun_desc }}</h4>                                                        
                    </td>  
                    

                </tr>
                {% for depen_row in secfun_row.dependencias %}
                    <tr>
                        <td colspan="7">
                            <h4 style="padding: 0; margin: 0;">{{ depen_row.C_depen}} {{ depen_row.N_depen_desc }}</h4>                                                        
                        </td>  
                    </tr>
                    {% for item_row in depen_row.items %}
                        <tr>
                            <td class="vertical-align-top">{{ item_row.C_bieser|striptags }}</td>
                            <td class="vertical-align-top">{{ item_row.N_bieser_desc|striptags }}</td>
                            <td class="vertical-align-top">{{ item_row.N_cnespec_desc|striptags }}</td>
                            <td class="vertical-align-top">{{ item_row.N_unimed_desc|striptags }}</td>
                            <td class="align-right">{{ item_row.Q_requedet_cant|floatformat:2 }}</td>
                            <td class="align-right">{{ item_row.Q_requedet_precio|floatformat:2 }}</td>
                            <td class="align-right">{{ item_row.Q_requedet_subtotal|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}

                {% endfor %}
                   
            {% endfor %}
            <tr >
                <td colspan="7" class="align-right">
                    <hr>
                    <h4 style="padding: 0; margin: 0;">TOTAL {{ Q_reque_total|floatformat:2 }}</h4>                                                        
                </td>  
                

            </tr>
        </table>

        <h4 style="padding-top: 10px; margin-bottom: 0;">ASIGNACION PRESUPUESTAL</h4>

        <table style="width: 100%;">
            <tr >
                <td colspan="7" class="align-right">
                    <hr>                 
                </td>  
            </tr>
            <tr>
                <td class="align-left">SecFun</td>
                <td class="align-left">Depen.</td>
                <td colspan="2" class="text-center">Asignación</td>
                <td class="align-left">FF</td>
                <td class="align-left">RC</td>
                <td class="align-right">Total</td>
            </tr>
            <tr >
                <td colspan="7" class="align-right">
                    <hr>                 
                </td>  
            </tr>
            {% for gasto in reque_gasto %}
                <tr>
                    <td class="vertical-align-top">{{ gasto.C_SECFUN|striptags }}</td>
                    <td class="vertical-align-top">{{ gasto.C_DEPEN|striptags }}</td>
                    <td class="vertical-align-top">{{ gasto.C_CLAPRE|striptags }}</td>
                    <td class="vertical-align-top">{{ gasto.N_CLAPRE_DESC|striptags }}</td>
                    <td class="vertical-align-top">{{ gasto.C_fuefin }}</td>
                    <td class="vertical-align-top">{{ gasto.C_recurso }}</td>
                    <td class="vertical-align-top align-right">{{ gasto.Q_requegasto_monto|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            <tr >
                <td colspan="7" class="align-right">
                    <hr>                 
                </td>  
            </tr>
            
        </table>

        <table>
            <tr>
                <td class="vertical-align-top" style="width: 130px;">OBSERVACION</td>
                <td>
                    {{ N_observaciones|safe }}
                </td>
            </tr>
        </table>

        <!-- n_tipcertif_desc,  N_tipceruser-->
        {% if tipo == '01' %}        
            <p>TIPO DE CERTIFICACIÓN:
                {% if N_tipcertif_desc|length > 0 %}
                    {{ N_tipcertif_desc }} ingresado por {{ C_tipceruser }}
                {% endif %}
            </p>
        {% endif %}

                
    </div>

    
    
<body>
</html>
