<div>
    <!-- <h1>Prueba desde archivo html</h1>
    <h2>Solicitud {{ precalId }}</h2> -->
    <div style="margin: 0px; padding: 0px; background-color: rgb(242, 242, 242);">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center"><tbody><tr><td align="center" valign="middle">
        <table width="640" border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 640px;"><tbody><tr><td valign="middle" align="left" style="font-family: helvetica, arial, sans-serif; font-size: 12px; color: rgb(102, 102, 102); padding: 10px 0px 10px 10px;">
        <strong>Municipalidad Provincial de Piura</strong>, solicitud virtual de Pre Licencia <strong>Piura Bonita</strong>.
        </td><td width="10"></td><td valign="middle" align="right" style="font-family: helvetica, arial, sans-serif; font-size: 12px; color: rgb(102, 102, 102); white-space: nowrap; padding: 10px 10px 10px 0px;"></td></tr></tbody></table>
        </td></tr><tr><td align="center" valign="middle" style="background-color: rgb(242, 242, 242);">
        <table border="0" cellpadding="0" cellspacing="0" width="640" align="center" bgcolor="#ffffff" style="min-width: 640px; max-width: 640px;"><tbody><tr><td align="center" valign="middle" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255);">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="min-width: 320px;"><tbody><tr><td align="center" valign="middle" style="padding: 10px 0px;">
        <table border="0" cellpadding="0" cellspacing="0" align="center"><tbody><tr><td align="center" valign="middle" height="70" style="vertical-align: middle;">
        <img alt="Piura%20Bonita" height="150" border="0" dfsrc="http://tramitevirtual.munipiura.gob.pe/Content/img/logo02.png" src="http://tramitevirtual.munipiura.gob.pe/Content/img/logo02.png" saveddisplaymode="" style="">
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr><tr><td align="center" valign="middle" bgcolor="#019cde" style="padding: 10px;">
        <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" style="min-width: 280px; max-width: 520px;"><tbody><tr><td align="center" valign="middle">
        <h1 style="margin: 0px; font-family: pp-sans-big-light, tahoma, arial, sans-serif; font-weight: normal; font-size: 20px; line-height: 130%; color: rgb(255, 255, 255);">
        Licencia de Funcionamiento Nº {{ licencNro }}       
        </h1>
        </td></tr><tr><td align="center" valign="middle" style="padding-top: 2px;">
        <p style="margin: 0px; font-family: pp-sans-small-regular, tahoma, arial, sans-serif; font-size: 13px; line-height: 150%; color: rgb(255, 255, 255);">
                                                                    
        </p>
        </td></tr></tbody></table>
        </td></tr><tr><td style="height: 14px;">
            
        </td></tr><tr><td>
            
                                                
            
            
        <table bgcolor="#EDEDED" cellpadding="0" cellspacing="0" valign="top" width="100%" style="table-layout: fixed; vertical-align: top; min-width: 320px; margin: 0px auto; border-spacing: 0px; border-collapse: collapse; background-color: rgb(237, 237, 237); width: 100%;"><tbody><tr valign="top" style="vertical-align: top;"><td valign="top" style="vertical-align: top;">
        <div style="background-color: transparent; text-align: justify;">
        <div style="margin: 0px auto; min-width: 320px; max-width: 100%; background-color: rgb(255, 255, 255);">
        <div style="border-collapse: collapse; width: 100%; background-color: rgb(255, 255, 255);">
        <div style="min-width: 320px; max-width: 100%; vertical-align: top; width: 100%;">
        <div style="width: 100% !important;">
        <div style="border-width: 0px; border-style: solid; border-color: transparent; padding: 0px;">
        <div style="color: rgb(85, 85, 85); font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif, serif, emojifont; line-height: 1.3; padding: 10px 30px 15px;">
        <div style="line-height: 1.3; font-size: 14px; font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif, serif, emojifont; color: rgb(85, 85, 85);">
        
        
        <h1 align="center">Resultado de la evaluación de su solicitud</h1>

        <span style="font-size: 14px;">
        Estimado(a):
        <span style="color: rgb(33, 150, 243);">
        &nbsp;
        <strong>{{ nombre_completo }}</strong>
        </span>
        </span>
        </p>
        <p style="line-height: 1.3; font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif; margin: 0px;">        
        <span style="font-size: 14px;">
        <br>
        Se adjunta Licencia de Funcionamiento Nº {{ licencNro }}, con lo cual se da por finalizado exitosamente su solicitud.<br>
        </span>        
        </span>
    
        <br>
       <!-- Tipo de licencia: {{ tipo_licencia_nombre }} <br>
       <h2>Tasa a pagar:  S/.{{ tasa }} </h2> -->
        
        <!-- <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-color:#009cde">
            <thead style="background-color:#4993b2">
                <tr style="border:1px solid blue">
                <th style="border:1px solid blue;padding:5px">Tipo de evaluación</th>
                <th style="border:1px solid blue;padding:5px">Resultado</th>
                <th style="border:1px solid blue;padding:5px">Observaciones</th>
                </tr>
            </thead>
                       
                {% for evaluacion in html_evaluaciones %}
                    <tr>
                        <td style="line-height:1.3;word-break:break-word;font-family:&#39;Open Sans&#39;,&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;margin:0;text-align:justify;padding:10px">
                            {{ evaluacion.tipo_eval_nombre }}
                        </td>
                        <td style="line-height:1.3;word-break:break-word;font-family:&#39;Open Sans&#39;,&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;margin:0;text-align:justify;padding:10px">
                            {{ evaluacion.resultado_evaluacion }}
                        </td>
                        <td style="line-height:1.3;word-break:break-word;font-family:&#39;Open Sans&#39;,&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;margin:0;text-align:justify;padding:10px">
                            {{ evaluacion.observaciones_evaluacion }}
                        </td>  
                    </tr>
                {% endfor %}                            
        </table> -->
        </p>
        <!-- <p>
            <b>Requisitos:</b>
            <ul>
                {% for requisito in requisitos %}
                    <li>{{ requisito.N_ReqTup_descrip }} 

                        {% if "8 Declaración Jurada de contar con la autorización sectorial respectiva" in requisito.N_ReqTup_descrip %}
                            <br>                                
                            {% if documentos|length > 0  %}                                
                                <ul>                                    
                                    {% for documento in documentos %}
                                        <li>{{ documento }}</li>
                                    {% endfor %}
                                </ul>      
                            {% else %}                              
                                <small>No aplica en la presente solicitud.</small>
                            {% endif %}    
                        {% endif %}
                        
                        {% if requisito.N_ReqTup_VidUrl or requisito.N_ReqTup_PdfUrl  %}
                            <br>
                            <small>Ver formatos e instructivos: 
                                {% if requisito.N_ReqTup_PdfUrl  %}
                                    <a href={{ requisito.N_ReqTup_PdfUrl }}  target="_blank" rel="noopener noreferrer">
                                        <img alt="YouTube" height="18" width="18" src="http://tramitevirtual.munipiura.gob.pe/Content/img/pdf.png">
                                    </a>
                                {% endif %}  
                                {% if requisito.N_ReqTup_VidUrl  %}
                                    <a href={{ requisito.N_ReqTup_VidUrl }}  target="_blank">
                                        <img alt="YouTube" height="18" width="20" src="http://tramitevirtual.munipiura.gob.pe/Content/img/youtubes.png">
                                    </a>
                                {% endif %}  
                            </small>
                        {% endif %}     
                    </li>
                {% endfor %}
            </ul>
        </p> -->

        <!-- <p><b>Importante: </b>Debe ingresar al sistema y adjuntar la información solicitada para continuar con el proceso de obtención de licencia de funcionamiento.
        </p>
        <p>Antes de ingresar su expediente por mesa de partes deberá implementar en su local las condiciones de seguridad que se indican a continuación, el ingeniero inspector de la Oficina de Defensa Civil verificará el cumplimiento de las mismas:
            <ul>
                <li>Certificado de fumigación.</li>
                <li>Certificado de operatividad de extintores.</li>
                <li>Certificado de pozo a tierra.</li>
                <li>Vitrinas laminadas y vidrios de puertas, ventanas, etc.</li>
                <li>Estantes fijos sujetos a la pared.</li>
                <li>Pasadizos libres de obstáculos.</li>
                <li>Botiquín.</li>
                <li>Extintores ubicados 6Kg PVS.</li>
                <li>Luz de emergencia.</li>
                <li>Señalización.</li>
                <li>Sistema eléctrico empotrado, entubado o en canaleta.</li>
                <li>Llaves termomagnéticas y llaves diferencial por circuito.</li>
                <li>Leyenda en tablero eléctrico.</li>
                <li>Tomacorrientes conectados a tierra.</li>
                <li>Enchufes de equipos eléctricos 3 espigas.</li>
            </ul>
        </p> -->
        
        <p><b>Recuerda:</b> No respondas este correo, todo registro de información deberá ser realizado en el sistema <a href="http://www.tramitevirtual.munipiura.gob.pe">www.tramitevirtual.munipiura.gob.pe</a></p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- <div style="background-color: transparent;">
        <div style="margin: 0px auto; min-width: 320px; max-width: 100%; background-color: rgb(255, 255, 255);">
        <div style="border-collapse: collapse; width: 100%; background-color: rgb(255, 255, 255);">
        <div style="min-width: 320px; max-width: 100%; vertical-align: top; width: 100%;">
        <div style="width: 100% !important;">
        <div style="border-width: 0px; border-style: solid; border-color: transparent; padding: 0px;">
        <div align="center" style="padding: 10px;">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT285_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT297_com_zimbra_url"><a href="http://www.munipiura.gob.pe/canes-y-felinos" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" style="text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(73, 147, 178); border-radius: 1px; width: auto; border-width: 1px; border-style: solid; border-color: rgb(73, 147, 178); padding-top: 5px; padding-bottom: 5px; font-family: arial, &quot;helvetica neue&quot;, helvetica, sans-serif; text-align: center;" target="_blank">
        <span style="padding-left: 20px; padding-right: 20px; font-size: 16px;">
        <span style="font-size: 16px; margin: 0px; line-height: 2;">
        <strong>
        Click Aquí
        </strong>
        </span>
        </span>
        </a></span></span>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div> -->
        <!-- <div style="background-color: transparent; text-align: justify;">
        <div style="margin: 0px auto; min-width: 320px; max-width: 100%; background-color: rgb(255, 255, 255);">
        <div style="border-collapse: collapse; width: 100%; background-color: rgb(255, 255, 255);">
        <div style="min-width: 320px; max-width: 100%; vertical-align: top; width: 100%;">
        <div style="width: 100% !important;">
        <div style="border-width: 0px; border-style: solid; border-color: transparent; padding: 0px;">
        <div style="color: rgb(85, 85, 85); font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif, serif, emojifont; line-height: 1.5; padding: 10px 30px 15px;">
        <div style="line-height: 1.3; font-size: 14px; font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif, serif, emojifont; color: rgb(85, 85, 85);">
        <p style="line-height: 1.3; font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif; font-size: 14px; margin: 0px;">
        <span style="font-size: 14px;">
        También puedes copiar y pegar este enlace en su navegador:
        <br>
        <br>
        <strong style="text-decoration: underline; color: rgb(0, 51, 68);">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT286_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT298_com_zimbra_url"><a target="_blank" href="http://www.munipiura.gob.pe/canes-y-felinos">http://www.munipiura.gob.pe/canes-y-felinos</a></span></span>
        </strong>
        </span>
        </p>
        <p style="line-height: 1.3; font-family: &quot;open sans&quot;, &quot;helvetica neue&quot;, helvetica, arial, sans-serif; margin: 0px;">
        <br>
        <span style="font-size: 14px;">
        El Token anterior
        <span style="color: rgb(33, 150, 243);">
        <strong>
        expirará el ' + convert(char(10), @D_Token_FinVig, 103) + ' ' + CONVERT(varchar(5),@D_Token_FinVig, 8) + '</strong>
        </span>
        , pasado el tiempo deberá generar una nueva solicitud.
        </span>
        <br>
        <br>
        <span style="font-size: 14px;">
        Si no ha solicitado el presente registro, ignore este mensaje.
        </span>
        </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </td></tr></tbody></table> -->
            
        </td></tr><tr><td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="min-width: 320px;"><tbody><tr><td align="center" valign="middle" style="padding: 10px 0px;">
        <table border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: helvetica, arial, sans-serif; font-size: 16px; color: rgb(0, 48, 135); line-height: 27px; text-align: center; font-weight: bold;"><tbody><tr><td align="center" valign="middle" height="70" style="vertical-align: middle;">
        <img alt="Piura%20Bonita" height="50" border="0" dfsrc="http://tramitevirtual.munipiura.gob.pe/Content/img/logo01.jpg" src="http://tramitevirtual.munipiura.gob.pe/Content/img/logo01.jpg" saveddisplaymode="" style="">
        </td></tr><tr><td align="center" valign="middle" style="font-size: 14px;">
        Gracias
        </td></tr><tr><td align="center" valign="middle" style="font-size: 14px;">
        Municipalidad Provincial de Piura
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr><tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="29" style="height: 1px; width: 29px;"></td><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td align="left" valign="top">
        <table width="620" border="0" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td valign="top"></td></tr></tbody></table>
        </td></tr></tbody></table>
        </td><td width="29" style="height: 1px; width: 29px;"></td></tr></tbody></table>
        </td></tr><tr><td valign="top" id="x_templateBody" style="background: none center center / cover no-repeat rgb(247, 247, 247); border-top: 0px; border-bottom: 4px solid rgb(0, 61, 98); padding-top: 30px; padding-bottom: 15px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_mcnFollowBlock" style="min-width: 100%; border-collapse: collapse;"><tbody class="x_mcnFollowBlockOuter"><tr><td align="center" valign="top" class="x_mcnFollowBlockInner" style="padding: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_mcnFollowContentContainer" style="min-width: 100%; border-collapse: collapse;"><tbody><tr><td align="center" style="padding-left: 9px; padding-right: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_mcnFollowContent" style="min-width: 100%; border-collapse: collapse;"><tbody><tr><td align="center" valign="top" style="padding-top: 9px; padding-right: 9px; padding-left: 9px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tbody><tr><td align="center" valign="top" style="margin: 0px; font-family: pp-sans-small-regular, tahoma, arial, sans-serif; font-size: 13px; line-height: 1.5; color: rgb(108, 115, 120);">
        <strong>Sigamos Conectados</strong>
        </td></tr></tbody></table>
        </td></tr><tr><td align="center" valign="top" style="padding-top: 9px; padding-right: 9px; padding-left: 9px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tbody><tr><td align="center" valign="top">
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tbody><tr><td valign="top" class="x_mcnFollowContentItemContainer" style="padding-right: 10px; padding-bottom: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_mcnFollowContentItem" style="border-collapse: collapse;"><tbody><tr><td align="left" valign="middle" style="padding: 5px 10px 5px 9px;">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;"><tbody><tr><td align="center" valign="middle" width="24" class="x_mcnFollowIconContent">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT287_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT299_com_zimbra_url"><a href="https://twitter.com/muni_piura" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" target="_blank">
        <img alt="Twitter" height="24" width="24" class="" dfsrc="http://tramitevirtual.munipiura.gob.pe/Content/img/twitter.png" src="http://tramitevirtual.munipiura.gob.pe/Content/img/twitter.png" saveddisplaymode="" style="">
        </a></span></span>
        </td><td align="left" valign="middle" class="x_mcnFollowTextContent" style="padding-left: 5px;">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT288_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT300_com_zimbra_url"><a href="https://twitter.com/muni_piura" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" style="font-family: helvetica; font-size: 12px; text-decoration: none; color: rgb(101, 101, 101);" target="_blank">
        Twitter
        </a></span></span>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tbody><tr><td valign="top" class="x_mcnFollowContentItemContainer" style="padding-right: 10px; padding-bottom: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_mcnFollowContentItem" style="border-collapse: collapse;"><tbody><tr><td align="left" valign="middle" style="padding: 5px 10px 5px 9px;">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;"><tbody><tr><td align="center" valign="middle" width="24" class="x_mcnFollowIconContent">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT289_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT301_com_zimbra_url"><a href="https://www.facebook.com/MuniPiura/" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" target="_blank">
        <img alt="Facebook" height="24" width="24" class="" dfsrc="http://tramitevirtual.munipiura.gob.pe/Content/img/facebook.png" src="http://tramitevirtual.munipiura.gob.pe/Content/img/facebook.png" saveddisplaymode="" style="">
        </a></span></span>
        </td><td align="left" valign="middle" class="x_mcnFollowTextContent" style="padding-left: 5px;">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT290_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT302_com_zimbra_url"><a href="https://www.facebook.com/MuniPiura/" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" style="font-family: helvetica; font-size: 12px; text-decoration: none; color: rgb(101, 101, 101);" target="_blank">
        Facebook
        </a></span></span>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tbody><tr><td valign="top" class="x_mcnFollowContentItemContainer" style="padding-right: 10px; padding-bottom: 9px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="x_mcnFollowContentItem" style="border-collapse: collapse;"><tbody><tr><td align="left" valign="middle" style="padding: 5px 10px 5px 9px;">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;"><tbody><tr><td align="center" valign="middle" width="24" class="x_mcnFollowIconContent">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT291_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT303_com_zimbra_url"><a href="https://www.youtube.com/user/munipiura" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" target="_blank">
        <img alt="YouTube" height="24" width="24" class="" dfsrc="http://tramitevirtual.munipiura.gob.pe/Content/img/youtube.png" src="http://tramitevirtual.munipiura.gob.pe/Content/img/youtube.png" saveddisplaymode="" style="">
        </a></span></span>
        </td><td align="left" valign="middle" class="x_mcnFollowTextContent" style="padding-left: 5px;">
        <span class="Object" role="link" id="OBJ_PREFIX_DWT292_com_zimbra_url"><span class="Object" role="link" id="OBJ_PREFIX_DWT304_com_zimbra_url"><a href="https://www.youtube.com/user/munipiura" rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" style="font-family: helvetica; font-size: 12px; text-decoration: none; color: rgb(101, 101, 101);" target="_blank">
        YouTube
        </a></span></span>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr><tr><td align="center" valign="middle" bgcolor="#f5f7fa" style="padding: 0px; background-color: rgb(245, 247, 250);">
        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 560px; background-color: inherit;"><tbody><tr><td align="center" valign="middle" style="padding: 25px 20px 0px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center"><tbody><tr><td colspan="2" align="center" valign="middle" style="border-bottom: 1px solid rgb(0, 0, 0);"></td></tr><tr><td width="15%" align="center">
        <img alt="" dfsrc="http://www.enotriasa.com/ElMensajero/Clientes/Banbif/20181115/i.png" src="http://www.enotriasa.com/ElMensajero/Clientes/Banbif/20181115/i.png" saveddisplaymode="" style="">
        </td><td width="85%" style="text-align: justify;">
        <span style="color: rgb(102, 102, 102); font-size: 12px; font-family: arial;">
        Te recordamos que por esta vía NO podrás formular reclamos, consultas o requerimientos. Ante
        cualquier consulta o requerimiento adicional que desees realizar, agradeceremos contactar
        con un terminalista por el chat que se encuentra en la plataforma, quienes gustosos te atenderán.
        </span>
        </td></tr><tr><td colspan="2" align="center" valign="middle" style="border-bottom: 1px solid rgb(0, 0, 0);"></td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr><tr><td align="center" valign="middle" bgcolor="#f5f7fa" style="padding: 0px; background-color: rgb(245, 247, 250);">
        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 560px; background-color: inherit;"><tbody><tr><td align="center" valign="middle" style="padding: 25px 20px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center"><tbody><tr><td align="center" valign="middle" style="padding-bottom: 20px; border-bottom: 1px solid rgb(221, 221, 221);"></td></tr><tr><td align="left" valign="middle" style="padding: 20px 0px 0px;">
        <p style="margin: 0px; font-family: pp-sans-small-regular, tahoma, arial, sans-serif; font-size: 13px; line-height: 1.5; color: rgb(108, 115, 120); text-align: justify;">
                                                                                    
        <br>
        Este correo electrónico ha sido enviado para {{ nombre_completo }} al correo
        <span class="Object" role="link" id="OBJ_PREFIX_DWT293_ZmEmailObjectHandler"><span class="Object" role="link" id="OBJ_PREFIX_DWT305_ZmEmailObjectHandler"><a href="mailto:" {{ email_usuario}}rel="noopener%20noreferrer%20nofollow%20noopener%20noreferrer nofollow noopener noreferrer" target="_blank"> {{ email_usuario }} </a></span></span>,
        porque dicho correo electrónico se ha registrado en la plataforma.
        <br>
        <strong>AVISO DE CONFIDENCIALIDAD:</strong> Este correo electrónico, incluyendo los archivos adjuntos al
        mismo según corresponda, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención
        única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia, revisión, uso, revelación y/o
        distribución de dicha información confidencial sin la autorización por escrito de la Municipalidad Provincial de Piura está prohibida. Si usted
        no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo al
        presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del
        mismo. La Municipalidad Provincial de Piura se reserva el derecho de ejercitar las acciones legales que correspondan.
            
        </p>
        <br>
        <p style="margin: 0px; font-family: pp-sans-small-regular, tahoma, arial, sans-serif; font-size: 13px; line-height: 1.5; color: rgb(0, 156, 222); text-align: justify;">
        Copyright © {% now "Y" %} Municipalidad Provincial de Piura, Todos los derechos reservados.
        <br>
        Calle Ayacucho 377 - Centro Cívico de Piura
        </p>
        </td></tr><tr><td align="center" valign="middle" style="padding-bottom: 20px; border-bottom: 2px solid rgb(221, 221, 221);"></td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </td></tr></tbody></table>
        </div>
</div>